{{ ansible_managed | comment }}
server {
    listen {{ nginx_listen_port }};
    server_name {{ nginx_server_name }};
    access_log /var/log/nginx/{{ nginx_server_name }}-access.log;
    error_log /var/log/nginx/{{ nginx_server_name }}-error.log;

location / {
    proxy_pass {{ nginx_proxy_pass }};
    #proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    }
}
